---
- name: Deploy K3s Master Node
  hosts: masters
  become: true
  tasks:
    - name: Install K3s (Master Mode)
      shell: |
        curl -sfL https://get.k3s.io | sh -
      args:
        creates: /usr/local/bin/k3s

    - name: Wait for Node Token
      wait_for:
        path: /var/lib/rancher/k3s/server/node-token

    - name: Read Node Token
      slurp:
        src: /var/lib/rancher/k3s/server/node-token
      register: node_token

    - name: Store Token for Workers
      set_fact:
        k3s_token: "{{ node_token['content'] | b64decode | trim }}"
      delegate_to: localhost
      delegate_facts: true
